* {
    text-align: center;
    margin: auto;
}
body {
    background-color: slategray;
}
.jumbotron {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.jumbotron h1 {
    text-shadow: 1px 1px 10px #800b23;
}
.party-box {
    margin-top: 30px;
    border-radius: 100%;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px black;
    color: whitesmoke;
    text-shadow: 01px 0px 4px black;
}
.party-box .btn {
    top: 0;
    bottom: 0;
}
.btn {
    background-color: slategray;
    border: none;
    /*position: fixed;*/
}
.btn:focus {
    background-color: slategray;
}