#color {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 200px;
    align-content: center;
    text-align: center;
    border: 3px solid rgb(0, 0, 10);
    background: silver;
    box-shadow: 10px 10px 20px black;
}

#silver {
    background: silver;
}