<div class="container-fluid projectImg">
    <div class="row">

        <!--<div class="pImages">-->

        <!--</div>-->
        <!--<img src="img/myProject1.png" alt="High Score Haven">-->

        <div class="col-sm-12">
            <figure class="imghvr-flip-vert">
                <img src="img/myProject1.png" href="http://highscore-haven.surge.sh" alt="High Score Haven">
                <figcaption>
                    <a href="http://highscore-haven.surge.sh">High Score Haven</a>
                    <!--High Score Haven-->
                    <h2 class="project-name">
                        High Score Haven
                    </h2>
                    GitHub
                </figcaption>
            </figure>

            <figure class="imghvr-flip-vert">
                <img src="img/myProject2.png" alt="K&J Diaries">
                <figcaption>
                    <h2 class="project-name">
                        K & J Diaries
                    </h2>
                    GitHub
                </figcaption>
            </figure>


            <figure class="imghvr-flip-vert">
                <img src="img/myProject3.png" alt="K&J Diaries">
                <figcaption>
                    <h2 class="project-name">
                        Personal Angular API Site
                    </h2>
                    GitHub
                </figcaption>
            </figure>

            <figure class="imghvr-flip-vert">
                <img src="img/myProject4.png" alt="K&J Diaries">
                <figcaption>
                    <h2 class="project-name">
                        This Portfolio Website
                    </h2>
                    GitHub
                </figcaption>
            </figure>


            <figure class="imghvr-flip-vert">
                <img src="img/myProject5.png" alt="K&J Diaries">
                <figcaption>
                    <h2 class="project-name">
                        Yoda Speak API
                    </h2>
                    GitHub
                </figcaption>
            </figure>


        </div> <!-- Column -->


    </div> <!-- ROW -->
</div> <!-- Container -->