<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <form name="myForm" ng-submit="postBounty(newBounty)" ng-controller="bountyCtrl">

                    <!-- Bounty First Name -->
                    <input type="text" placeholder="First Name" ng-model="newBounty.firstName" ng-minlength=3 required>
                    <!-- Bounty Last Name -->
                    <input type="text" placeholder="Last Name" ng-model="newBounty.lastName" ng-minlength=3 required>

                    <!-- Bounty Type -->
                    <input type="text" placeholder="Type" ng-model="newBounty.type" ng-minlength=3 required>
                    <!-- Bounty Price -->
                    <input type="text" placeholder="Bounty Credits" ng-model="newBounty.bounty" ng-minlength=3 required>

                    <div>
                        <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" ng-model="newBounty.living"
                               type="checkbox" unchecked>
                        <label for="checkbox-1" class="checkbox-custom-label">Living? </label>
                    </div>

                    <br>
                    <br>
                    <input type="submit" ng-disabled="myForm.$invalid" id="submit" value="Submit"
                           class="btn btn-success"/>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="list-group-item" ng-repeat="bounty in bounties">
                <div ng-if="!newBounty.isBeingEdited" >
                    <div class="list-group-heading" >
                        <div class="row">

                <span class="h3"> {{bounty.firstName}} {{bounty.lastName}} </span>

                <!--<label class="fa fa-check-square-o">-->
                    <!--<input class="checkbox" type="checkbox" ng-model="todo.completed"></label>-->

                <label class="fa fa-edit">
                    <input class="button" type="button" ng-click="editBounty($index)"></label>

                <label class="fa fa-trash-o">
                    <input class="button" type="button" ng-click="deleteBounty(bounty, $index)"></label>
                        </div>
                    </div>
                </div>


                <div class="list-group-text">
                    <div class="row">
                        <div class="col-xs-1 short-description">
                            <i class="fa fa-id-badge fa-1x"></i>
                        </div>
                        <div class="col-xs-11">
                            {{bounty.type}}
                        </div>

                        <div class="col-xs-1 price">
                            <i class="fa fa-usd fa-1x"></i>
                        </div>
                        <div class="col-xs-11">
                            {{bounty.bounty}}
                        </div>
                        <div class="col-xs-1 heart">
                            <i class="fa fa-heart fa-1x"></i>
                        </div>
                        <div class="col-xs-11">
                            {{bounty.living}}
                        </div>


                    </div>
                </div>



            </div>
        </div>
    </div>
</section>