body {
    background-color: darkslategrey;
    color: goldenrod;
}
button {
    z-index: 10;
}
.btn {
    border-radius: 0px;
}

.score1 {
    background-color: black;
}
.score2 {
    background-color: black;
}
.scores {
    margin-top: -30px;
    background-color: black;
    opacity: 0.6;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 35px;
}
h1 {
    opacity: 1.0;
}