<script>document.body.className += ' fade-out';</script>

<h1>Welcome</h1>
<h3>Please search for a hike</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="form-group">

                <!--       Trail Name Input        -->
                <label class="control-label" style="text-align:center;">Search the Trail Database</label>
                <input class="form-control input-md" type="text" name="trailName" placeholder="Trail Name - Optional" ng-model="trail.name">
                <!--&lt;!&ndash;       State Input        &ndash;&gt;-->
                <!--<br>-->
                <!--<input class="form-control input-md" type="text" name="director" placeholder="Director's first name - Optional" ng-model="director.directorName">-->
                <!--&lt;!&ndash;       City Input       &ndash;&gt;-->
                <!--<br>-->
                <!--<input class="form-control input-md" type="text" name="title" placeholder="Movie Title - Optional" ng-model="title.movieTitle">-->

                <br>
                <div class="input-group">
                    <!--       Submit        -->
                    <div class="input-group-btn">
                        <button class="btn btn-success btn-block btn-md" role="submit" style="border-radius:5px;" id="2" ng-click="getTrailRequest(trail)"><span class="glyphicon glyphicon-search"></span> Search Database </button>
                    </div>
                </div>

            </div>
            <!--Form Group-->
        </div>
    </div>
</div>